USE [master]
GO
/****** Object:  Database [CSDLTest]    Script Date: 24/02/2025 5:01:05 CH ******/
CREATE DATABASE [CSDLTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDLTest', FILENAME = N'D:\LEARNING\CODE\C_Sharp\LinQ\LinQ_TranDuyThanh\CSDLTest.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSDLTest_log', FILENAME = N'D:\LEARNING\CODE\C_Sharp\LinQ\LinQ_TranDuyThanh\CSDLTest_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDLTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDLTest]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[MaDanhMuc] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatGia]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CapNhatGia]
@ma int,
@dongia int
as
  update SanPham set DonGia=@dongia
  where Ma=@ma
GO
/****** Object:  StoredProcedure [dbo].[ChiTietSanPham]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietSanPham]
@ma int
as
select * from SanPham where ma=@ma
GO
/****** Object:  StoredProcedure [dbo].[LayToanBoSanPham]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayToanBoSanPham]
as
select * from SanPham
GO
/****** Object:  StoredProcedure [dbo].[ThemSanPham]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemSanPham]
@ma int,
@ten nvarchar(50),
@gia int,
@madm int
as
  insert into SanPham(Ma,Ten,DonGia,MaDanhMuc)
  values (@ma,@ten,@gia,@madm)
GO
/****** Object:  StoredProcedure [dbo].[XoaSanPham]    Script Date: 24/02/2025 5:01:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaSanPham]
@ma int
as
 delete from SanPham where ma=@ma
GO
USE [master]
GO
